/* src/Chatbot.css */
.chatbot-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.message.bot {
  background-color: #f0f0f0;
  text-align: left;
}

.message.user {
  background-color: #5ccc9d;
  text-align: right;
  color: white;
}

.sender {
  font-weight: bold;
  margin-right: 5px;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.message-submit-button {
  padding: 10px 20px;
  background-color: #5ccc9d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.message-submit-button:hover {
  background-color: #4caf8b;
}
